body{
    background-color: beige;
}
a {
    color: inherit;
    text-decoration: none;
}

.login {
    width: right;
    height: center;


    text-align: right;
    background-color: blue;
    background-position: 80vh
   
}